flask
werkzeug
pandas
numpy
pillow
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
ultralytics
opencv-python-headless
paddleocr
paddlepaddle
openai
jiwer
python-dotenv